.ui.left.fixed.vertical.inverted.menu
    a.teal.item(href="/")
        h4.ui.grey.header John Doe
        p Sign Out
    a.teal.item(href="users.html") Accounts
        .ui.label 15
    a.teal.item(href="activities.html") Activities
        .ui.label 10
    a.teal.item(href="areas.html") Areas
        .ui.label 11
    a.teal.item(href="farms.html") Farms
        .ui.label 22
    a.teal.item(href="fields.html") Fields
        .ui.label 32

