doctype html
html
  head
    include ./_head.jade
  body
    include ./_includes/sidebar.jade
    .ui.two.column.grid.custom
        .twelve.wide.column
            h2.ui.header Fields
            .ui.form
              .inline.field
                label Actions:
                select.ui.dropdown(name='actions')
                  option(value='') Edit
                  option(value='edit') Edit
                  option(value='delete') Delete
                button.ui.gray.button(type='submit') Apply
                button.ui.teal.right.floated.button Add Field
            

            table.ui.table.selectable
              thead
                  tr
                    th
                      .ui.checkbox
                        input(type='checkbox', name='example')
                    th Name
                    th Farmers
                    th Last Harvest
                    th Total Harvest (kg)
                    th Actions
                tbody
                tr
                  td 
                    .ui.checkbox
                      input(type='checkbox', name='example')
                  td Apple Garden
                  td 765
                  td 2015/06
                  td 12 321
                  td 
                    a(href="#") Edit | 
                    a(href="#") Delete
                tr
                  td 
                    .ui.checkbox
                      input(type='checkbox', name='example')
                  td Corn Field
                  td 321
                  td 2016/06
                  td 11 321
                  td 
                    a(href="#") Edit | 
                    a(href="#") Delete
                tr
                  td 
                    .ui.checkbox
                      input(type='checkbox', name='example')
                  td Cabbage Field
                  td 214
                  td 2014/06
                  td 10 123
                  td 
                    a(href="#") Edit | 
                    a(href="#") Delete
                tr
                  td 
                    .ui.checkbox
                      input(type='checkbox', name='example')
                  td Apple Garden
                  td 765
                  td 2015/06
                  td 12 321
                  td 
                    a(href="#") Edit | 
                    a(href="#") Delete
                tr
                  td 
                    .ui.checkbox
                      input(type='checkbox', name='example')
                  td Corn Field
                  td 321
                  td 2016/06
                  td 11 321
                  td 
                    a(href="#") Edit | 
                    a(href="#") Delete
                tr
                  td 
                    .ui.checkbox
                      input(type='checkbox', name='example')
                  td Cabbage Field
                  td 214
                  td 2014/06
                  td 10 123
                  td 
                    a(href="#") Edit | 
                    a(href="#") Delete
                tr
                  td 
                    .ui.checkbox
                      input(type='checkbox', name='example')
                  td Apple Garden
                  td 765
                  td 2015/06
                  td 12 321
                  td 
                    a(href="#") Edit | 
                    a(href="#") Delete
                tr
                  td 
                    .ui.checkbox
                      input(type='checkbox', name='example')
                  td Corn Field
                  td 321
                  td 2016/06
                  td 11 321
                  td 
                    a(href="#") Edit | 
                    a(href="#") Delete
                tr
                  td 
                    .ui.checkbox
                      input(type='checkbox', name='example')
                  td Cabbage Field
                  td 214
                  td 2014/06
                  td 10 123
                  td 
                    a(href="#") Edit | 
                    a(href="#") Delete
                tr
                  td 
                    .ui.checkbox
                      input(type='checkbox', name='example')
                  td Apple Garden
                  td 765
                  td 2015/06
                  td 12 321
                  td 
                    a(href="#") Edit | 
                    a(href="#") Delete
                tr
                  td 
                    .ui.checkbox
                      input(type='checkbox', name='example')
                  td Corn Field
                  td 321
                  td 2016/06
                  td 11 321
                  td 
                    a(href="#") Edit | 
                    a(href="#") Delete
                tr
                  td 
                    .ui.checkbox
                      input(type='checkbox', name='example')
                  td Cabbage Field
                  td 214
                  td 2014/06
                  td 10 123
                  td 
                    a(href="#") Edit | 
                    a(href="#") Delete
                tr
                  td 
                    .ui.checkbox
                      input(type='checkbox', name='example')
                  td Apple Garden
                  td 765
                  td 2015/06
                  td 12 321
                  td 
                    a(href="#") Edit | 
                    a(href="#") Delete
                tr
                  td 
                    .ui.checkbox
                      input(type='checkbox', name='example')
                  td Corn Field
                  td 321
                  td 2016/06
                  td 11 321
                  td 
                    a(href="#") Edit | 
                    a(href="#") Delete
                tr
                  td 
                    .ui.checkbox
                      input(type='checkbox', name='example')
                  td Cabbage Field
                  td 214
                  td 2014/06
                  td 10 123
                  td 
                    a(href="#") Edit | 
                    a(href="#") Delete
                tr
                  td 
                    .ui.checkbox
                      input(type='checkbox', name='example')
                  td Apple Garden
                  td 765
                  td 2015/06
                  td 12 321
                  td 
                    a(href="#") Edit | 
                    a(href="#") Delete
                tr
                  td 
                    .ui.checkbox
                      input(type='checkbox', name='example')
                  td Corn Field
                  td 321
                  td 2016/06
                  td 11 321
                  td 
                    a(href="#") Edit | 
                    a(href="#") Delete
                tr
                  td 
                    .ui.checkbox
                      input(type='checkbox', name='example')
                  td Cabbage Field
                  td 214
                  td 2014/06
                  td 10 123
                  td 
                    a(href="#") Edit | 
                    a(href="#") Delete
                
                


        .four.wide.column
            .ui 
                .ui.segment
                    h2.ui.header Edit Field
                    form.ui.form
                      .field
                        label Farm Name
                        input(type='text', name='first-name', placeholder='Dubai')
                      .field
                        label Farmers
                        input(type='text', name='text', placeholder='412')
                      .field
                        label Last Harvest
                        input(type='text', name='text', placeholder='2015/06')
                      .field
                        label Total Harvest (kg)
                        input(type='text', name='text', placeholder='12 3213')

                      .inline.field
                        .ui.toggle.checkbox
                          input.hidden(type='checkbox', tabindex='0')
                          label Disable
                      button.ui.teal.button(type='submit') Save
                      button.ui.black.button(type='submit') Remove