body 
  background-color: #FFFFFF

.ui.fixed.inverted.main.menu {
  display: none;
}

.ui.left.fixed.vertical.inverted.menu {
  padding-left: 0;
  padding-right: 0;
}

.ui.left.fixed.vertical.inverted.menu a.item:first-child {
  padding-bottom: 30px;
  padding-top: 60px;
}

.ui.sidebar.inverted.vertical.menu a.item:first-child {
  padding-bottom: 15px;
  padding-top: 30px;
}

.grid.custom
  margin-left 15rem
  padding-right 20px


body.login {
  background-color: #DADADA;
}
body.login > .grid {
  height: 100%;
}
.login .image {
  margin-top: -100px;
}
.login .column {
  max-width: 450px;
}

/* SMARTPHONE */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  
}

/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  
}

@media only screen and (min-width: 992px) {
  
}
